.characterSelection {
  position: absolute;
  left: calc(50% - 200px);
  bottom: calc(50% - 200px);
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 1rem;
  padding: calc(1rem - 5px);
}

.selectCharacter {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  height: 40px;
}

.characterFrame {
  display: flex;
  width: 400px;
  height: 360px;
  align-items: center;
}

.names {
  display: flex;
  width: 210px;
  justify-content: space-between;
}

.characterNames {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}

.characterRealm {
  text-align: right;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.characterPortrait {
  min-width: 80px;
  height: 80px;
  margin-right: 10px;
  border: 2px solid #856c11;
  background-color: black;
  margin-left: -1.5rem;
}
