.button {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 40px;
  color: #fff;
  border: 1px solid #10a1de;
  background-color: #0e86ca;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: #00aeff;
}

.button:active {
  background-color: #095386;
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.buttontext {
  padding: 9px 30px;
  font-size: 17px;
  line-height: 20px;
}

.button btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.dropdown a {
  font-size: 17px;
  line-height: 20px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  font-size: 17px;
  line-height: 20px;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.fullContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  left: calc(50% - 150px);
  bottom: calc(45%);
}

.loginContainer {
  display: flex;
  justify-content: center;
  width: 340px;
  height: 40px;
}

.logo {
  width: 340px;
  height: 200px;
  background: center url('/images/guildy/loginlogo.png');
}
