.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--color-background-shade-1);
  color: var(--color-text);
  user-select: none;
  box-shadow: 0 3px 6px var(--color-shadow);
}

.togglePC {
  display: inherit;
}

.toggleMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .togglePC {
    display: none;
  }
  .toggleMobile {
    display: inherit;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.profile {
  border-left: 0.1rem solid var(--color-text);
  border-right: 0.1rem solid var(--color-text);
  justify-content: space-between;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.profilename {
  font-size: clamp(0.8rem, 3vw, 1.8rem);
  flex: 0 0 15rem;
  height: 2rem;
}

.profilesub {
  font-size: clamp(0.2rem, 3vw, 1.2rem);
  flex: 0 0 15rem;
  height: 2rem;
}

.profile:hover {
  background: linear-gradient(var(--color-background-shade-1), var(--color-background-shade-3));
}

.profileimage {
  margin-right: 0.5rem;
  flex: 0 0 4rem;
  width: 4rem;
  height: 4rem;
}

.buttons {
  display: flex;
  align-items: center;
}
.button {
  padding: 0.5rem 0;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--color-background-shade-1);
  color: var(--color-text);
  text-align: center;
  width: 4rem;
  height: 4rem;
}

.button:hover {
  background: linear-gradient(var(--color-background-shade-1), var(--color-background-shade-3));
}

.profilenames {
  height: 4rem;
  width: 256px;
}
