.settingsMode {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.settingsPane {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  background-color: black;
}

.menuBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.25rem;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: #0d0d0d;
  color: #fff;
}

.menuBar svg {
  width: 18px;
  height: 18px;
}

.splitPane {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.selectionPane {
  background-color: #404040;
  border: 0.25rem solid #0d0d0d;
  border-top: 0;
  width: 30%;
}

.contextPane {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  border: 0.25rem solid #0d0d0d;
  color: #fff;
  border-left: 0;
  border-top: 0;
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
  user-select: none;
}

.selectionList {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.25rem;
}

.selectionButton {
  width: 100%;
  height: 3rem;
  background-color: #202020;
  border: 0.15rem solid black;
}

.closeSettings:hover {
  color: #b3b3b3;
  cursor: pointer;
}

.closeSettings:active {
  color: #8a8a8a;
}

.contextPaneOption {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.bgGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bgGridComponent {
  margin: 0.5rem;
  display: flex;
  background-color: #202020;
  width: 213px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.bgGridComponent:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

.bgGridComponent:active {
  filter: brightness(1.25);
}
