:root {
  --color-calendar-text: #fff;
  --color-calendar-btn: #ffb100;
  --color-calendar-btn-disabled: black;
}

.minimal {
  --color-calendar-text: #fff;
  --color-calendar-btn: #ffffff;
  --color-calendar-btn-disabled: #a4a4a4;
}

.react-calendar {
  background: url(../public/images/guildy/calendar/wow-theme/calendarBG.png);
}

.minimal .react-calendar {
  background: url(../public/images/guildy/calendar/minimal-theme/calendarBG.png);
}

.react-calendar__navigation {
  display: flex;
  margin-top: -1rem;
  margin-bottom: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;
  width: 235px;
}

.react-calendar__navigation__label {
  border: 0;
  background: url(../public/images/guildy/calendar/wow-theme/calendarMonth.png) 50% no-repeat;
  user-select: none;
}

.minimal .react-calendar__navigation__label {
  background: none;
}

.react-calendar__navigation__label:hover {
  background-color: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  border-radius: 5px;
  border: 0px;
  width: 32px;
  height: 32px;
  color: var(--color-calendar-btn);
  background: url(../public/images/guildy/calendar/wow-theme/calendarButton.png) center no-repeat;
  user-select: none;
}

.minimal .react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.minimal .react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  background: url(../public/images/guildy/calendar/minimal-theme/calendarButton.png) center no-repeat;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button:enabled:hover,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button:enabled:hover {
  background: url(../public/images/guildy/calendar/wow-theme/calendarButtonDown.png) center no-repeat;
}

.minimal .react-calendar__navigation__arrow.react-calendar__navigation__prev-button:enabled:hover,
.minimal .react-calendar__navigation__arrow.react-calendar__navigation__next-button:enabled:hover {
  background: url(../public/images/guildy/calendar/minimal-theme/calendarButtonDown.png) center no-repeat;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button:enabled:active,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button:enabled:active {
  background: url(../public/images/guildy/calendar/wow-theme/calendarButton.png) center no-repeat;
  filter: brightness(120%);
}

.minimal .react-calendar__navigation__arrow.react-calendar__navigation__prev-button:enabled:active,
.minimal .react-calendar__navigation__arrow.react-calendar__navigation__next-button:enabled:active {
  background: url(../public/images/guildy/calendar/minimal-theme/calendarButton.png) center no-repeat;
}

.react-calendar__navigation button {
  color: rgb(255, 255, 255);
}

.react-calendar__navigation button[disabled] {
  background-color: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 0.8rem;
  text-decoration: none;
  user-select: none;
}

.react-calendar__tile {
  display: flex;
  color: var(--color-calendar-text);
  border: 0;
  font-weight: bold;
  width: 90px;
  height: 90px;
  background: url(../public/images/guildy/calendar/wow-theme/calendarTile0.png) 100%;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}

.minimal .react-calendar__tile {
  background: url(../public/images/guildy/calendar/minimal-theme/calendarTile0.png) 100%;
}

.react-calendar__tile:hover {
  filter: brightness(0.9);
}

.react-calendar__tile:active {
  filter: brightness(1.1);
}

.react-calendar__tile abbr {
  padding-left: 2px;
  padding-top: 2px;
  user-select: none;
}

.react-calendar__tile:disabled {
  background-color: #00000000;
  color: var(--color-calendar-btn-disabled);
  filter: brightness(60%);
}
